/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    padding-top: 50px;
}

i {
    margin-right: 10px;
}

h4 {
    margin: 30px 0;
}

h3 {
    font-size: 22px;
}

img{
    max-width: 100%;
}

cite {
    font-style: normal;
    margin: 30px 0;
}

label {
    margin-right: 35px;
}

input {
    margin-right: 5px;
}

/* Utilities */

.margin {
    margin-top: 10px;
}

.button-look-alike {
    background-color: rgb(0, 97, 255);
    padding: 7px 15px;
    color: white;
}

.grey {
    color: grey;
}

.decorated-a {
    text-decoration: underline;
    color:rgb(0, 97, 255)
}


/* Header */

#header-row {
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 1;
}

header {
    padding: 15px 10px;
    width: 100%;
    height: 52px;
    background-color: white;
}

header img {
    height: 24px;
    margin-right: 20px;
}


.flex-container {
    display: flex;
    justify-content: space-between;
}

header li{
  margin: 5px 15px;
  min-height: 20px;
}
    
 /* Bonus */
    
#why-drop:hover , #functions:hover,
#plans-price:hover, #support:hover,
#contact:hover, #signin:hover {
    padding: 15px 0;
    border-bottom: 2px solid black ;
}

/* Jumbotron */

.container-jumbo-footer{
    width: 1150px;
    margin: 0 auto;
    position: relative;
}

.container-jumbotron {
    height: 600px;
    background-color: rgb(180, 208, 231);
    margin-bottom: 230px;
}

#jumbo-title {
    font-size: 65px;
    padding: 50px 0;
}

#jumbo-text {
    width: 300px;
    margin-bottom: 30px;
}

.buttomnlookalike .jumbo {
    display: inline-block;
    margin: 50px 50px;
}

span a {
    color: white;
}

.fa-arrow-down {
    font-size: 35px;
}

#jumbo-text-second {
    margin: 35px 0;
}

.container-jumbo-footer img {
    width: 800px;
}

#jumbo-img {
    position: absolute;
    right: 50px;
    top: 275px;
}


/* Plans section */

.container-main-content {
    width: 980px;
    margin: 0 auto;
}
.plan-section h2 {
    margin-bottom: 50px;
    font-size: 35px;
}

.plan-section {
    margin-bottom: 50px;
}


/* Plans flex*/

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col3 {
    width: calc( 100% / 3 - 35px );
}

.plan-name {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 10px 0;
}


.card-container {
    border: 1px solid lightgrey;
    min-height: 860px;
    margin-bottom: 80px;
}

.duration {
    margin-bottom: 35px;
}

.plan-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
}

.plan-first-part {
    min-height: 340px;
}

.price {
    margin: 20px 0;
    font-weight: bold;
}

.n-user , .premium , .n-space {
    display: flex;
    margin-bottom: 30px;
}


.card-middle {
    margin-bottom: 20px;
}

.buy-now {
    margin: 30px 0;
}

.card-hr {
    border: none;
    width: 20%;
    height: 0.5px;
    background-color: lightgrey;
}


.fa-check {
    color: rgb(0, 97, 255);
    margin-right: 5px;
}

.list-item {
    display: flex;
    margin: 15px 0;
}

.card-middle > .buttonlookalike {
    min-width: 120px;
    display:block;
    text-align: center;
}

/* Ufficio vendite */

#sales-division {
    width: 100%;
    border: 1px solid lightgrey;
    margin-bottom: 100px
}

#sales-head {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

#sales-body  {
    padding: 25px;
    position: relative;
}

#sales-body p {
    display: inline-block;
    width: 60%;
}

#sales-body a {
    position: absolute;
    right: 80px;
    top: 25px;
}

/* Partner section */

#find-a-partner {
    width: 100%; 
    display: flex;
    margin-bottom: 150px
}

#partner-img img{
    width: 530px;
    margin-right: 40px;
}

#partner-content h3 {
    margin: 35px 0;
}

#partner-content {
    width: 35%;
    margin-top: 5px;
    position: relative;
}

#partner-link {
    padding: 15px;
    border: 1px solid lightgrey;
    position: absolute;
    left: 0px;
    top: 230px;
}

/* Business Section */ 

#business-section h2{
    font-size: 40px;
    margin-bottom: 40px
}

#business-section h3{
    margin-bottom: 25px;
}

.business-img img {
    width: 320px;
}

 #business-section .row p {
    margin-bottom: 40px;
}

#latest-business h2 {
    margin: 70px 0;
    display: block;
    width: 600px;
}

#latest-business {
    margin-bottom:150px;
}


/* Designit (8 card section) */

.designit-container {
    display: flex;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    width: calc( 100% / 6 );
}

.logo-container-1 {
    width: 100%;
    height: 225px;
    background-color: rgb(162, 211, 155);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-1 img {
    height: 55px;
    filter: invert(100%);
    padding: 0 30px;
}

.logo-container-2 {
    width: 100%;
    height: 225px;
    background-color: rgb(0, 147, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-2 img {
    height: 35px;
    filter: invert(100%);
    padding: 0 30px;
}


.logo-container-3 {
    width: 100%;
    height: 225px;
    background-color: rgb(97, 8, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-3 img {
    height: 75px;
    filter: invert(100%);
    padding: 0 30px;
}

.logo-container-4 {
    width: 100%;
    height: 225px;
    background-color: rgb(255, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-4 img {
    height: 55px;
    filter: invert(100%);
    padding: 0 30px;
}


.logo-container-5 {
    width: 100%;
    height: 225px;
    background-color: rgb(213, 0, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-5 img {
    height: 50px;
    filter: invert(100%);
    padding: 0 30px;
}

.logo-container-6 {
    width: 100%;
    height: 225px;
    background-color: rgb(13, 36, 129);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-6 img {
    height: 55px;
    filter: invert(100%);
    padding: 0 30px;
}

.logo-container-7 {
    width: 100%;
    height: 225px;
    background-color: rgb(180, 208, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-7 img {
    height: 17px;
    filter: invert(100%);
    padding: 0 30px;
}

.logo-container-8 {
    width: 100%;
    height: 225px;
    background-color: rgb(255, 216, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-8 img {
    height: 55px;
    filter: invert(100%);
    padding: 0 30px;
}

/* Bonus */


.logo-container-1:hover img{
    height: 45px;
}

.logo-container-1:hover {
    border: 10px solid red;
}


.logo-container-2:hover img{
    height: 28px;
}

.logo-container-2:hover {
    border: 10px solid rgb(97, 8, 43);
}


.logo-container-3:hover img{
    height: 56px;
}

.logo-container-3:hover {
    border: 10px solid rgb(0, 147, 206);
}


.logo-container-4:hover img{
    height: 43px;
}

.logo-container-4:hover {
    border: 10px solid rgb(162, 211, 155);
}



.logo-container-5:hover img{
    height: 42px;
}

.logo-container-5:hover {
    border: 10px solid rgb(255, 216, 48);
}



.logo-container-6:hover img{
    height: 48px;
}

.logo-container-6:hover {
    border: 10px solid rgb(180, 208, 231);
}



.logo-container-7:hover img{
    height: 13px;
}

.logo-container-7:hover {
    border: 10px solid rgb(13, 36, 129);
}



.logo-container-8:hover img{
    height: 48px;
}

.logo-container-8:hover {
    border: 10px solid rgb(213, 0, 31);
}



/* Biggest col */
.big {
    flex-grow: 1;
    min-height: 450px;
    padding: 25px;
    background-color: rgb(245, 245, 245);
}

.big img {
    width: 250px;
    margin-top: 20px;;
}

#designit-hr {
    margin: 50px 0;
    border: none;
    width: 20%;
    height: 0.5px;
    background-color: lightgrey;
}



/* Free trial */

.flex-lightblue {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lightblue-bc {
    background-color: rgb(180, 208, 231);
    min-height: 270px;
    margin-bottom: 100px;
    display: flex;
}

#lightblue-bc h2 {
    font-size: 35px;
    color: rgb(96, 3, 36);
    margin-right: 65px;
    
}

#free-trial {
    background-color: white;
    padding: 8px 35px;
}

/* Faq */

#faq > h2 {
    font-size: 40px;
    margin-bottom: 25px
}

.questions > p {
    font-weight: bolder ;

}

.questions {
    padding: 25px 0;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

#faq {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 130px;
}

/* Footer */

#footer-bc {
    background-color: black;
    color: white;
    min-height: 350px;
}

.footer-col {
    display: flex;
    flex-basis: calc( 100% / 5 );
    margin: 35px 0;
}

footer h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

footer li {
    margin: 10px 0;
}

footer li a{
    color: white;
}

footer hr {
    border: none;
    width: 10%;
    height: 0.5px;
    background-color: lightgrey;
    margin-bottom: 20px;
} 

#lang {
    color: lightgrey
}