/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    padding-top: 50px;
}

/* Utilities */

.margin {
    margin-top: 10px;
}

.buttomnlookalike {
    background-color: rgb(0, 97, 255);
    padding: 7px 15px;
    color: white;
}

.grey {
    color: grey;
}


/* Header */

#header-row {
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 1;
}

header {
    padding: 15px 10px;
    width: 100%;
    height: 52px;
    background-color: white;
}

header img {
    height: 24px;
    margin-right: 20px;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    margin: 5px 15px;
}

/* Jumbotron */

.container-jumbo-footer{
    width: 1050px;
    margin: 0 auto;
    position: relative;
}

.container-jumbotron {
    height: 600px;
    background-color: rgb(180, 208, 231);
}

#jumbo-title {
    font-size: 65px;
    padding: 50px 0;
}

#jumbo-text {
    width: 300px;
    margin-bottom: 30px;
}

.buttomnlookalike .jumbo {
    display: inline-block;
   margin: 50px 50px;
}

span a {
    color: white;
}

.fa-arrow-down {
    font-size: 35px;
}

#jumbo-text-second {
    margin: 35px 0;
}

.container-jumbo-footer img {
    width: 700px;
}

#jumbo-img {
    position: absolute;
    right: 20px;
    top: 285px;
}

/* Smaller container*/

.margin {
    width: 950px;
    margin: 0 auto;
}

/* Plans section */

.container-main-content {
    width: 990px;
    margin: 0 auto;
}
.plan-section h2 {
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 35px;
}

label {
    margin-right: 35px;
}

input {
    margin-right: 5px;
}

/* Plans flex*/


.row {
    display: flex;
    flex-direction: row;
    flex-basis: ( 100% / 3 - 20px;);
    width: 300px;
    border: 2px solid lightgrey;
    min-height: 300px;
    margin-top: 35px;
}

.plan-name {
    border-bottom: 2px solid lightgrey;
    text-align: center;
    padding: 0;
}

h3 {
    font-size: 22px;
}

.card-padding {
    padding: 7px;
}

.duration {
    margin-bottom: 35px;
}

.plan-container {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px;
}

.price {
    margin: 20px 0;
}

.n-user , .premium , .n-space {
    display: flex;
    margin-bottom: 15px;
}

.n-user i , .premium i , .n-space i {
    margin-right: 10px;
}

#decorated-a {
    text-decoration: underline;
    color:rgb(0, 97, 255)
}

.card-middle {
    margin-top: 20px;
}

.buy-now {
    margin: 30px 0;
}

.card-hr {
    border: 1px solid lightgrey;
    width: 45px
}

h4 {
    margin: 30px 0;
}

.fa-check {
    color: rgb(0, 97, 255);
    margin-right: 5px;
}

.list-item {
    display: flex;
}